.login{
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #DBDBDB;
}

.login-form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    
}

.banner-login{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.login-form-wrapper{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.login-form-wrapper button{
    width: 100%; 
    background: linear-gradient(to right, #eaafc8, #654ea3);
    border: none; 
    color: #fff;
}

.login-form-wrapper button:hover{
    color: #fff;
    transform: scale(1.06);
    transition: .2s;
}

.login-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
}

.login-title a{
    text-decoration: none;
}

@media screen and (max-width:1280px) {
    .banner-login{
        width: 50%;
        padding: 0 2%;
        
    }

    .banner-login img{
        max-width: 400px;
    }
}

@media screen and (max-width:991px) {
    .banner-login{
        display: none;
        
    }

    .login-form{
        width: 100%;
        background-color:#F2F2F2;
       
    }
    
}
