main{
    display: block;
    height: 100%;
    background-color: #fff;
    width: calc(100% - 300px);
} 

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;  
}

/* Estilização da scroll bar*/
.main-content::-webkit-scrollbar {
    width: 12px;              
} 
  .main-content::-webkit-scrollbar-track {
    border: 1px solid black;
    background: #F5F5F5;
    border-radius: 20px;
    
  }
  
  .main-content::-webkit-scrollbar-thumb {
    background-color:var(--color_font);
    border-radius: 20px;    
  }

.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
}


.panel-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  
}

.panel-50{
  width: 45%;
}

.panel-row button{
   height: 100%;
   background: var(--background-button);
   font-size: 20px;
   color: #fff;
}

.panel-row button svg{
  margin-bottom: 10px;
  font-size: 30px;
  
}

.panel-row button:hover{
  transform: scale(1.05);
  transition: .2s;
}


.content#ajax-content{
  width: 100%;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  
  
}

.content#ajax-content button{
  background: var(--background-button);
  border: none;
  color: #fff;
}

.content#ajax-content button:hover{
  color: #ccc;
  transform: scale(1.12);
  transition: .1s;
}
.content#ajax-content label{
  font-size: 15px;
  font-weight: bold;
  color: var(--color_font);

}

.content#ajax-content table svg{
  cursor: pointer;
}

.dynamic-content{
  padding: 20px;
}

.main-content-title{
  padding: 2px 0;
}

.main-content-title h2{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: var(--color_font);
}
.imc-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.imc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding: 40px 20px;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
}

.imc h2{
  font-weight: 300;
  color: var(--color_font);
}

.imc h2 span:nth-child(2){
  color: var(--black-color);
  font-weight: 600;
}

.dashboard-content{
  margin-top: 20px;
}

.dashboarder-flex-parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dashboaerder-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 23%;
  height: 200px;
  background: var(--background_sidebar);
}

.box-icon{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-icon svg{
  font-size: 20px;
}

.value{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.type{
  font-size: 19px;
}