:root{
    --background_sidebar:#ccc;
    --image_svg:#6e8efb;
    --color_font:#72777a;
    --color_font_hover:#303030;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}


