div.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

sidebar{
    display: block;
    height: 100%;
    width: 300px;
    background-color: var(--background_sidebar);
    
}


sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 3px solid rgba(0,0,0,.0625);
    border-right:0px;
}

sidebar .sidebar-title img{
    height: 40px;
    width: 40px;
}

sidebar .sidebar-title h2{
    font-size: 19px;
    margin-top: 8px;
}

div.menu{
    border-right: 3px solid rgba(0,0,0,.0625);
    padding: 0 25px;
} 

div.menu ul {
    list-style-type: none;
}

div.menu ul li{
    padding: 20px 20px;
    width: 100%;
    
}

.menu ul li svg{
    color: var(--image_svg);
    font-size: 20px;
}

.menu ul li a{
    color: var(--color_font);
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover{
    color: var(--color_font_hover);
}