* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(../image/blackground_walpaper.svg) no-repeat center;
  background-position: left;
}

nav#navbar{
  display: flex;
  align-items: center;
  height: auto;
}

.logo{
  display: flex;
  width: auto;
  height: auto;
  margin:30px 20px;
  padding-right:20px;
  justify-content: center;
  
}

ul{
  
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  list-style: none;
  align-items: center;
  margin-left: 55px;
}

ul li a.nav-link{
  margin: 15px;
  color: #fff;
  text-decoration: none;
  
}

ul li a.nav-link:hover{
  color: red;
  transition: 2s;
}

 
.social{
  display: flex;
  width: auto;
  height: auto;
  margin-left: 33rem;
  border: 1px solid red;
  
}

.social img{
  display: flex;
  margin: 20px;
  width: auto;
  height: auto;
}

/* Style Header */

section.container{
  
  height: 70vh;
}

.container-item-1{
  height: 58vh;
  margin: 30px 60px;
}

.container-item-1 img{
  width: 40vw;
}

.container-item-1 p{
  width: 45rem;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  background: transparent;
  color: #ccc;
  text-align: center;
  justify-content: center;
  
}
.button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-item-1 .button-buy{
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px;
  width: 11rem;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.container-item-1 .button-buy a{
  margin: 20px;
  text-decoration: none;
  color: #fff;
}

.container-item-1 .button-buy:hover{
  transform: scale(1.20);
  border: none;
  background: red;
  transition: 2s;
  
}

.container-item-1 .button-video{
  display: flex;
  border: 1px solid blue;
  border-radius: 8px ;
  margin: 25px;
  width: 11rem;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.container-item-1 .button-video a{
  margin: 20px;
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase; 
}

.container-item-1 .button-video:hover{
  background: royalblue;
  border: none;
  transform: scale(1.20);
  transition: 2s;
}

