*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

.container{
    border: 1px solid red;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.container .logos{
    border: 1px solid red;
    margin: 10px;
    align-items: center;
    
}
.container .logos img{
    width: 5rem;
    height: 10vh;
    margin: 10px;
    cursor: pointer;
}

.logo{
    border: 1px solid red;
    margin: 20px;
}

