*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgba(0, 0, 0, .6);
}

.container{
    border: 1px solid red;
    width: 100vw;
    height: 15vh;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.container .logo{
    border: 1px solid blue;
    width: 5rem;
    height: 10vh;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

.logo img{
    width: 5rem;
    height: 10vh;
    border: 1px solid blue;
}