* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
  background: rgba(0, 0, 0, 0.6);
}

.container {
  border: 1px solid red;
  width: 83rem;
  height: 15vh;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}

.container .logo {
  border: 1px solid blue;
  width: 5rem;
  height: 10vh;
  margin-left: 1rem;
  margin-top: 1rem;
}

.logo img {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 5rem;
}

.container .menu {
  border: 1px solid black;
  margin-left: 5rem;
  width: 50rem;
  margin-top: 1.3rem;
  height: 49px;
  display: flex;
}

.container .menu ul {
  overflow: hidden;
}

.container .menu ul li {
  float: left;
}
.container .menu ul li a {
  display: flex;
  justify-content: center;
  padding: 14px 16px;
  color: aliceblue;
}
.container .menu ul li a:hover {
  background: violet;
}
